<nav class="navbar">
    <section class="logo center non-responsive">
        <img src="/public/logo.jpg" alt="logo">
    </section>

    <ul>
        <li class="center bar responsive">
            <i class="fi fi-ts-bars-staggered"></i>
        </li>
        <li class="logo center responsive">
            <img src="/public/logo.jpg" alt="logo">
        </li>
        <ul>
            <li>
                <a href="/">الرئيسية</a>
            </li>
            <li>
                <a href="/pages/about">من نحن؟</a>
            </li>
            <li>
                <a href="/#services">الخدمات</a>
            </li>
            <li>
                <a href="/pages/products">المنتجات</a>
            </li>
        </ul>
    </ul>

    <section>
        <a class="center btn btn-linear" href="/pages/contact">تواصل معنا</a>
    </section>
</nav>